beautifulsoup4==4.12.3
DateTime==5.5
gitdb==4.0.11
GitPython==3.1.43
keras==3.3.3
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
requests==2.31.0
scikit-learn==1.4.2
streamlit==1.35.0
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
textblob==0.18.0.post0
yfinance==0.2.40
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5